body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url("../images/background.png");
  color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-style: normal;
  line-height: 17px;
}

.logo {
  cursor: pointer;
  margin-left: 150px;
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  margin-right: 7px;
}

.logo-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.nav-menu {
  list-style: none;
  margin-top: 55px;
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.nav-menu li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}

.first-link {
  font-weight: bold;
}

a {
  color: #ffffff;
}

.nav-link a:link {
  text-decoration: none;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.language {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  cursor: pointer;
}

.language-name {
  margin-left: 10px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
  position: relative;
  margin-left: 7px;
}

.login-button {
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 160px;
  margin-top: 55px;
}

.login-button:hover {
  background-color: #ffffff;
  color: #e25250;
}

.sign-up-button {
  width: 160px;
  height: 50px;
  background: #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  color: #e25250;
  border: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.main-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.main-content p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 40px;
  max-width: 540px;
  min-height: 130px;
}

.sign-up-button {
  width: 160px;
  height: 50px;
  background: #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  color: #e25250;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  border: none;
  margin-top: 40px;
}

.sign-up-button:hover {
  background: #e25250;
  color: white;
  border: 1px solid white;
}
